
.hero-container-event{
    width: 100%;
    height: 80dvh;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: move 60s ease;
}

@keyframes move {
    0%{
        background-position: 0 20%;
    }
    50%{
        background-position: 50% 80%;
    }
    0%{
        background-position: 0% 0%;
    }
}

.hero-container-event::after{
    content: '';
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    inset: 0;
}

.Events-hero{
    width: 100%;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.Events-hero-cont{
    width: 100%;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.Events-hero-cont h1{
    font-size: 2.2em;
    color: white;
}

.Events-hero-cont p{
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: white;
    
}

.Events-hero-cont a{
    width: 250px;
    text-align: center;
    background: rgb(255, 108, 54);
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 1em;
}